In [15]:
import pandas as pd
import numpy as np

In [22]:
df_t_info_h_wind = pd.read_csv('C:/Users/gboni/OneDrive/デスクトップ/t_info_h_wind.csv')

In [23]:
df_t_info_h_wind.head()

   yyyymmdd  pool_code  race_no wind
0  20211001          1        1    0
1  20211001          1        2    4
2  20211001          1        3    6
3  20211001          1        4    0
4  20211001          1        5    0

In [25]:
# 'date', 'pool', 'race' の組み合わせで重複をチェックします。
duplicates = df_t_info_h_wind.duplicated(subset=['yyyymmdd', 'pool_code', 'race_no'], keep=False)

# 重複の数を数えます。
num_duplicates = duplicates.sum()

print(num_duplicates)

0

In [26]:
df_t_info_h = pd.read_csv('C:/Users/gboni/OneDrive/デスクトップ/t_info_h.csv')

In [27]:
df_t_info_h.head()

,yyyymmdd,pool_code,race_no,temperature,weather,wind_speed,water_temperature,wave_height,wind
0,20231022,1,1,13.0℃,晴,2.0,16.0,1.0,1
1,20231022,1,2,18.0℃,晴,3.0,17.0,2.0,2
2,20231022,1,3,17.0℃,晴,3.0,17.0,2.0,3
3,20231022,1,4,17.0℃,晴,2.0,17.0,1.0,向左
4,20231022,1,5,17.0℃,晴,1.0,17.0,1.0,向左

In [28]:
# 'date', 'pool', 'race' の組み合わせで重複をチェックします。
duplicates = df_t_info_h.duplicated(subset=['yyyymmdd', 'pool_code', 'race_no'], keep=False)

# 重複の数を数えます。
num_duplicates = duplicates.sum()

print(num_duplicates)

0

In [30]:


# ユニークな組み合わせのセットを作成
unique_combinations_t_info_h_set = set(df_t_info_h[['yyyymmdd', 'pool_code', 'race_no']].itertuples(index=False, name=None))
unique_combinations_t_info_h_wind_set = set(df_t_info_h_wind[['yyyymmdd', 'pool_code', 'race_no']].itertuples(index=False, name=None))

# 不足している組み合わせを見つける
missing_in_t_info_h = unique_combinations_t_info_h_wind_set - unique_combinations_t_info_h_set

# 不足している組み合わせをデータフレームに変換
missing_in_t_info_h_df = pd.DataFrame(list(missing_in_t_info_h), columns=['yyyymmdd', 'pool_code', 'race_no'])

In [32]:
missing_in_t_info_h_df.to_csv('C:/Users/gboni/OneDrive/デスクトップ/過不足.csv')